body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#GridContainer {
    box-sizing: border-box;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.gridSquare {
    box-sizing: border-box;
    width: 6.25%;
    background-color: white;
    border: 1px solid lightgray;
}

.hovered {
    background-color: lightslategray;
}

#ResizeGridBtn {
    width: 15%;
    height: 36px;
    background-color: rgb(65, 109, 255);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

#ResizeGridBtn:hover {
    background-color: rgb(86, 125, 254);
}